<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark row px-5">
            <a routerLinkActive="active" routerLink="/homepage" class="col-lg-6 col-12"><img src="../../assets/logo.png" alt="hoyo-logo"></a>
            <ul class="col-lg-6 col-12 d-flex justify-content-end mb-0">
                <li class="me-5"><button routerLink="/hotellist" class="btn btn-danger">Book</button></li>
                <li class="me-5 pt-2"><a routerLink="/contact-form">Conatct Us</a></li>
                <li class="me-5 pt-2"><a routerLink="/bookings">Bookings</a></li>
                <li class="pt-2"><a routerLink="/signup">SignUp</a></li>
            </ul>
        </nav>
    </div>
</header>